ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
li h1{
    text-align: center;
}
.aaaa{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
section {
    display: block;
}
 section h1 {
    text-align: center;
    color:#DD4943;
    font-size: 45px;
    cursor: pointer;
    font-family: monospace;
    
}
section h4 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    width: max-content;
    color: white;
}
.imgs img:hover
{
background-color: blanchedalmond;
}
.imgs{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.info section img{
    filter:brightness(0.7);
    
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;

}
.info{
    background-color: #2F375B;
    height: 80vh;
   
}
footer{
    background-color: #353535;
    display: flex;
    justify-content: space-between;
}
footer .aaa{
    margin-bottom: 10px;
}
footer .bbb{
    margin-top: 70px;
}
.bbb img {
    margin-left:20px ;
    margin-right: 20px;
    transition:3s ;
}
.bbb  img:hover {
    transform:rotate(360deg);}

